h1 {
    text-align: center;
  }

  th.sortable.active {
    background-color: rgb(11, 56, 107);
  }
  
  .icloud.zero,
  .code-dev.zero {
    background-color: red;
  }
  
  .moyenne {
    border: 1px solid black;
    padding: 10px;
  }
  