    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    
         
    nav ul{
        list-style-type: none;
    }
         
    nav li{
        display: flex;
        width: 20%;
        height: 100px;
        justify-content: space-between;
        float: left;
        text-decoration: none;
        background-color: #405A73 ;
    
     }
          
     nav a{
        display: block; /*Toute la surface sera cliquable*/
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
        padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
        width: 30%;
        margin: auto;
        font-size: 1.5em;
     }
     nav a:hover{
        color: orange;
        
     }
     i{
        font-size: 2em;
     }
     
    body{
        background-color: #273746;
    }
